{{includeClientLib categories="apps.scfhanlebardemo"}}

<p> Checking Color </p>

Testing Helpers

<br/>
{{abbreviate "Testing Tester Test Text" maxWords=3}}
<br/>
{{{abbreviate "The goal of AEM Communities is to quickly create a community engagement site." safeString=true maxLength=30}}}
<br/>
